{% extends "index.html"%}

{% block contenido %}

<div>
<h2 class="text-center">Edita tu Receta</h2> 
<a class="d-grid gap-2 d-md-flex justify-content-md-end" href="/borrar_sesion" >Cerrar sesión</a>
</div>
<hr  class="border border-secondary border-2 opacity-50" >

<div>
    <div>
        {% with messages_editar = get_flashed_messages(category_filter=['editar']) %}
        <!-- declara una variable llamada mensajes-->
        {% if messages_editar %}
        <!-- comprobar si hay algún mensaje -->
            {% for editar in messages_editar %}
        <!-- recorrer los mensajes -->
                <p class="alert alert-danger text-center">
                    {{editar}}
                </p> <!-- muestra cada mensaje en una etiqueta de párrafo -->
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
</div>

<div class="row">
    <div class="col">

    <form class="row g-3" action='/editar/{{ver_receta.id}}' method='post'>
        <!--action: es la ruta que procesa el formulario // method: las opciones son GET y POST-->
        <div class="col-md-9">
            <label for='name' class="form-label">Nombre</label>
            <input type='text' class="form-control" name='nombre' value="{{ver_receta.nombre}}">
        </div>

        <div class="col-md-9">
            <label for='descripcion' class="form-label">Descripción</label>
            <textarea class="form-control" name='descripcion' rows="4" cols="40">{{ver_receta.descripcion}}</textarea>
        </div>

        <div class="col-md-9">
            <label for='instrucciones' class="form-label">Instrucciones</label>
            <textarea class="form-control" name='instrucciones' rows="4" cols="40">{{ver_receta.instrucciones}}</textarea>
        </div>
<!--    </form>-->
</div>

<!--EMIPEZA DONDE SALE LA FECHA-->

<div class="col">
    <div class="col-md-6">
        <label for='fecha_creacion' class="form-label">Fecha de Creación</label>
        <input type='date' class="form-control" name='fecha_creacion' value="{{ver_receta.fecha_creacion}}">
    </div><br>
    <div class="col-md-9"> <p class="form-label">¿Su preparación es menor a 30 minutos?</p>
        <div class="form-check form-check-inline">
        {% if ver_receta.tiempo_preparacion == '1': %}
            <input class="form-check-input" type="radio" value = "1" name="tiempo_preparacion" checked>
        {% else %}
            <input class="form-check-input" type="radio" value = "1" name="tiempo_preparacion">
        {% endif %}
        <label class="form-check-label" for="flexRadioDefault1">Si</label>
    </div>
    <div class="form-check form-check-inline">
        {% if ver_receta.tiempo_preparacion == '0': %}
        <input  class="form-check-input" type="radio" value = "0" name="tiempo_preparacion" checked>
        {% else %}
            <input class="form-check-input" type="radio" value = "0" name="tiempo_preparacion">
        {% endif %}
        <label class="form-check-label" for="flexRadioDefault1">No</label>
    </div>
    </div><br>
        <div class="d-grid gap-2 d-md-flex justify-content-md">
            <input type ="hidden" value="{{session['id_usuario']}}" name="usuario_id"> 
            <button type="submit" class="btn btn-success me-md-2">Editar receta</button>
            <a href="/usuario/{{session['id_usuario']}}" class="btn btn-secondary">Volver atras</a>
            <a href="/" class="btn btn-primary">Volver al inicio</a>
        </div>
</div>
</form>
</div>

{% endblock %}
